img {
    width: 600px;
    position: relative;
    align-self: center;
}
h1 {
    font-size: 100px;
    font-family: 'Algerian';
}
header {
    height: 300px;
    width: 100%;
    text-align: center;

}
div.image {
    width: 100%;
    align-content: center;
}